// fonts

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");

// variables

$theme-color: yellow;

$yellow-gradient: radial-gradient(
    circle at 11% 62%,
    rgba(205, 205, 205, 0.04) 0%,
    rgba(205, 205, 205, 0.04) 50%,
    rgba(149, 149, 149, 0.04) 50%,
    rgba(149, 149, 149, 0.04) 100%
  ),
  radial-gradient(
    circle at 78% 10%,
    rgba(49, 49, 49, 0.04) 0%,
    rgba(49, 49, 49, 0.04) 50%,
    rgba(254, 254, 254, 0.04) 50%,
    rgba(254, 254, 254, 0.04) 100%
  ),
  radial-gradient(
    circle at 92% 43%,
    rgba(34, 34, 34, 0.04) 0%,
    rgba(34, 34, 34, 0.04) 50%,
    rgba(206, 206, 206, 0.04) 50%,
    rgba(206, 206, 206, 0.04) 100%
  ),
  linear-gradient(329deg, rgb(241, 157, 33), rgb(218, 227, 61));

$black: linear-gradient(
    200deg,
    rgba(213, 213, 213, 0.01) 0%,
    rgba(213, 213, 213, 0.01) 14.286%,
    rgba(140, 140, 140, 0.01) 14.286%,
    rgba(140, 140, 140, 0.01) 28.572%,
    rgba(52, 52, 52, 0.01) 28.572%,
    rgba(52, 52, 52, 0.01) 42.858%,
    rgba(38, 38, 38, 0.01) 42.858%,
    rgba(38, 38, 38, 0.01) 57.144%,
    rgba(159, 159, 159, 0.01) 57.144%,
    rgba(159, 159, 159, 0.01) 71.42999999999999%,
    rgba(71, 71, 71, 0.01) 71.43%,
    rgba(71, 71, 71, 0.01) 85.71600000000001%,
    rgba(88, 88, 88, 0.01) 85.716%,
    rgba(88, 88, 88, 0.01) 100.002%
  ),
  linear-gradient(
    337deg,
    rgba(25, 25, 25, 0.01) 0%,
    rgba(25, 25, 25, 0.01) 12.5%,
    rgba(150, 150, 150, 0.01) 12.5%,
    rgba(150, 150, 150, 0.01) 25%,
    rgba(84, 84, 84, 0.01) 25%,
    rgba(84, 84, 84, 0.01) 37.5%,
    rgba(85, 85, 85, 0.01) 37.5%,
    rgba(85, 85, 85, 0.01) 50%,
    rgba(188, 188, 188, 0.01) 50%,
    rgba(188, 188, 188, 0.01) 62.5%,
    rgba(80, 80, 80, 0.01) 62.5%,
    rgba(80, 80, 80, 0.01) 75%,
    rgba(73, 73, 73, 0.01) 75%,
    rgba(73, 73, 73, 0.01) 87.5%,
    rgba(219, 219, 219, 0.01) 87.5%,
    rgba(219, 219, 219, 0.01) 100%
  ),
  linear-gradient(
    203deg,
    rgba(233, 233, 233, 0.01) 0%,
    rgba(233, 233, 233, 0.01) 25%,
    rgba(114, 114, 114, 0.01) 25%,
    rgba(114, 114, 114, 0.01) 50%,
    rgba(164, 164, 164, 0.01) 50%,
    rgba(164, 164, 164, 0.01) 75%,
    rgba(228, 228, 228, 0.01) 75%,
    rgba(228, 228, 228, 0.01) 100%
  ),
  linear-gradient(
    317deg,
    rgba(139, 139, 139, 0.02) 0%,
    rgba(139, 139, 139, 0.02) 16.667%,
    rgba(44, 44, 44, 0.02) 16.667%,
    rgba(44, 44, 44, 0.02) 33.334%,
    rgba(166, 166, 166, 0.02) 33.334%,
    rgba(166, 166, 166, 0.02) 50.001000000000005%,
    rgba(2, 2, 2, 0.02) 50.001%,
    rgba(2, 2, 2, 0.02) 66.668%,
    rgba(23, 23, 23, 0.02) 66.668%,
    rgba(23, 23, 23, 0.02) 83.33500000000001%,
    rgba(21, 21, 21, 0.02) 83.335%,
    rgba(21, 21, 21, 0.02) 100.002%
  ),
  linear-gradient(
    328deg,
    rgba(3, 3, 3, 0.03) 0%,
    rgba(3, 3, 3, 0.03) 12.5%,
    rgba(116, 116, 116, 0.03) 12.5%,
    rgba(116, 116, 116, 0.03) 25%,
    rgba(214, 214, 214, 0.03) 25%,
    rgba(214, 214, 214, 0.03) 37.5%,
    rgba(217, 217, 217, 0.03) 37.5%,
    rgba(217, 217, 217, 0.03) 50%,
    rgba(68, 68, 68, 0.03) 50%,
    rgba(68, 68, 68, 0.03) 62.5%,
    rgba(118, 118, 118, 0.03) 62.5%,
    rgba(118, 118, 118, 0.03) 75%,
    rgba(200, 200, 200, 0.03) 75%,
    rgba(200, 200, 200, 0.03) 87.5%,
    rgba(198, 198, 198, 0.03) 87.5%,
    rgba(198, 198, 198, 0.03) 100%
  ),
  linear-gradient(
    97deg,
    rgba(195, 195, 195, 0.03) 0%,
    rgba(195, 195, 195, 0.03) 16.667%,
    rgba(177, 177, 177, 0.03) 16.667%,
    rgba(177, 177, 177, 0.03) 33.334%,
    rgba(170, 170, 170, 0.03) 33.334%,
    rgba(170, 170, 170, 0.03) 50.001000000000005%,
    rgba(158, 158, 158, 0.03) 50.001%,
    rgba(158, 158, 158, 0.03) 66.668%,
    rgba(121, 121, 121, 0.03) 66.668%,
    rgba(121, 121, 121, 0.03) 83.33500000000001%,
    rgba(146, 146, 146, 0.03) 83.335%,
    rgba(146, 146, 146, 0.03) 100.002%
  ),
  linear-gradient(
    268deg,
    rgba(103, 103, 103, 0.03) 0%,
    rgba(103, 103, 103, 0.03) 25%,
    rgba(112, 112, 112, 0.03) 25%,
    rgba(112, 112, 112, 0.03) 50%,
    rgba(4, 4, 4, 0.03) 50%,
    rgba(4, 4, 4, 0.03) 75%,
    rgba(227, 227, 227, 0.03) 75%,
    rgba(227, 227, 227, 0.03) 100%
  ),
  linear-gradient(90deg, hsl(98, 0%, 0%), hsl(98, 0%, 0%));

// breakpoints

$small-phone: "max-width: 375px)";
$phone: "(max-width: 414px)";
$tablet-portrait: "(max-width: 991px)";
$tablet-landscape: "(max-width: 1112px)";

//conditional media query mixin

@mixin responsive($point) {
  @if $point == $tablet-landscape {
    @media (max-width: 1112px) and (min-width: 991px) {
      @content;
    }
  } @else if $point == $tablet-portrait {
    @media (max-width: 991px) and (min-width: 500px) {
      @content;
    }
  } @else if $point == $phone {
    @media (max-width: 414px) {
      @content;
    }
  } @else if $point == $small-phone {
    @media (max-width: 320px) {
      @content;
    }
  }
}

// common scss

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .h1 {
    text-align: center;
    font-family: "Anton", sans-serif !important;
    width: 100%;
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
  }
  .line {
    width: 4%;
    height: 5px;
    background: $theme-color;
    text-align: center;
    margin-bottom: 1rem;
    @include responsive($phone) {
      width: 15%;
    }
  }
}

.header-length {
  width: 100vw;
  height: 35vh;
  @include responsive($tablet-portrait) {
    height: 25vh;
  }
  @include responsive($phone) {
    height: 25vh;
  }
  @include responsive($small-phone) {
    height: 33vh;
  }
}

.image-header {
  position: relative;
  z-index: 2;
  border-bottom: 2px solid grey;
  .image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    font-family: "Anton", sans-serif !important;
    text-transform: uppercase;
    color: $theme-color !important;
  }
}
